* {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    background: #171717;
    font-size: 1em;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden
}

.main {
    /* display: flex;
    flex-direction: column; */
    /* border: 1px solid #ff2b48; */
    margin-right: 12rem;
    padding: 10rem 5rem;
    
}

.navbar__container {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 10%;
    position: fixed;
    right: 0;
    z-index: 10;
}

.nav__logo {
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
}

svg {
    height: 15vh;
}

.nav__logo h3 {
    font-size: 2em;
}

.nav__logo p {
    font-size: .9em;
}

.nav__menu {
    width: 100%;
    padding-top: 10vh;
}

.nav__menu>ul {
    border-top: 4px solid #6b6b6b;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul>.nav__item {
    border-bottom: 4px solid #6b6b6b;
    padding: 30px 0px;
    text-transform: uppercase;
}

.nav__item>a {
    color: #6b6b6b;
    font-size: 1em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav__item>a:hover {
    color: #19F7FF;
    transition: all 0.3s ease-in-out;
}

.nav__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .75em;
    padding-top: 10vh;
    font-size: 1.4em;
}

@media screen and (max-height: 768px) {
    .nav__menu {
        padding-top: 0;
    }

    .nav__social {
        padding-top: 7vh;
        font-size: .95em;
    }

}

.social__logo .fa-linkedin {
    color: #696969;
    transition: all 0.3s ease-in-out;
}

.social__logo .fa-linkedin:hover {
    color: #ff2b48;
    transition: all 0.3s ease-in-out;
}

.social__logo .fa-behance {
    color: #696969;
    transition: all 0.3s ease-in-out;
}

.social__logo .fa-behance:hover {
    color: #ff2b48;
    transition: all 0.3s ease-in-out;
}

.social__logo .fa-github {
    color: #696969;
    transition: all 0.3s ease-in-out;
}

.social__logo .fa-github:hover {
    color: #ff2b48;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .navbar__container {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .navbar__container.active {
        right: 0;
        top: 0;
        transition: all 0.3s ease;
    }

    .nav__social {
        padding-top: 30px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__toggle {
        position: fixed;
        top: 5%;
        right: 5%;
        transform: translate(5%, 20%);
        z-index: 99999;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    .navbar__toggle.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar__toggle.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar__toggle.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


.tags {
    color: #515152;
    position: absolute;
    bottom: 0;
    left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: 'La Belle Aurore', cursive;
}

.top-tags {
    bottom: auto;
    top: 2rem;
}

.top-tags:after {
    content: '<body>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 1.4rem;
    position: absolute;
    margin-left: 1rem;
}

.bottom-tags {
    bottom: -107em;
    top: auto;
}

@media screen and (max-width: 768px) {
    .bottom-tags {
        bottom: -113em;
    }
}

.bottom-tags:before {
    content: '</body>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-left: 1rem;
}

.text-zone p {
    position: relative;
}

.text-zone p:first-of-type:before {
    content: '<p>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    /* top: 1.2rem; */
    left: -2rem;
}

.text-zone p:last-of-type:after {
    content: '</p>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size:1.2rem;
    position: absolute;
    left: -2rem;
    /* bottom: -1.2rem; */
}

@media screen and (max-width: 768px) {
    .text-zone {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-left: -3em;
    }

    h1 svg {
        height: 40px;
        margin-left: -1.2em;
        margin-right: -1.3em;

    }

}

.gray-text {
    font-size: 2.5rem;
    letter-spacing: 4px;
    /* margin-top: 2rem; */
    display: block;
    color: #8d8d8d;
}

@media screen and (max-width: 768px) {
    .gray-text {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
}

h1 {
    font-size: 6em;
    font-weight: 800;
    line-height: 1.2em;
    position: relative;
}

h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-top: -4rem;
    left: -2rem;
}

h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 2.5rem;
    margin-left: .5rem;
}

h2 {
    font-family: font-file-82132;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
    font-size: 7.3rem;
    line-height: 6.7rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h1:before {
        margin-top: -3rem;
    }
}

.fake-big {
    font-family: font-file-82132;
    position: absolute;
    top: 40rem;
    left: 42vw;
    z-index: -1;
    font-size: 48rem;
    color: rgba(255, 255, 255, 0.04);
}

.fake-big-atsign {
    font-family: font-file-82132;
    position: absolute;
    top: 130rem;
    left: 60vw;
    z-index: -1;
    font-size: 48rem;
    color: rgba(255, 255, 255, 0.04);
}

h2:before {
    content: '<h2>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -2.5rem;
    left: -2rem;
}

h2:after {
    content: '</h2>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -2rem;
    bottom: -2.5rem;
}

h2 .blast,
h1 .blast {
    opacity: 1;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

h1 .blast:hover,
h2 .blast:hover .blast:focus,
.blast:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.7);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    color: #08fdd8
}

a {
    color: #08fdd8;
    padding-top: 4rem;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    text-decoration: none;
}

a:hover {
    color: #019e86;
}

textarea {
    overflow: auto;
}

/* Button */
.flat-button {
    color: #08fdd8;
    font-size: 14px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
}

.flat-button div {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.flat-button:hover {
    color: #000;
}

.flat-button span.bg {
    left: -5%;
    position: absolute;
    background: #08fdd8;
    width: 0;
    height: 100%;
    -webkit-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
}

.flat-button:hover span.bg {
    width: 110%;
}

.flat-button:hover span.text:after {
    background: #fff;
}

.flat-button span.base {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #08fdd8;
}

.flat-button span.text {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.flat-button span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #08fdd8;
    position: absolute;
    -webkit-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    z-index: 5;
}

/* scroll alert */
.scroll-down {
    position: absolute;
    right: 13rem;
    bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
}

.scroll-down,
.scroll-down--left {
    animation: up-down linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: up-down linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: up-down linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: up-down linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: up-down linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

/* Bounce Animation */
@keyframes up-down {
    0% {
        transform: translate(1px, 20px);
    }

    24% {
        transform: translate(1px, 30px);
    }

    50% {
        transform: translate(1px, 12px);
    }

    74% {
        transform: translate(1px, 22px);
    }

    100% {
        transform: translate(1px, 22px);
    }
}


.scroll-down span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-animation-name: bounce-1;
    animation-name: bounce-1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.scroll-down svg {
    margin-top: 10px;
    width: 10px;
}

.scroll-down--left {
    left: 10px;
    right: auto;
}

@media screen and (max-width: 768px) {
    .scroll-down {
        right: 10px;
    }

    .scroll-down--left {
        left: 10;
        right: auto;
    }
}

.work p,
.about p,
.contact p {
    padding-top: 4rem;
}

.work h2,
.about h2,
.contact h2 {
    font-size: 3.5em;
    font-weight: bold;
}

/* Portfolio Section */
.work {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.portfolio-grid {
    padding-top: 2rem;
}

.portfolio-item {
    display: grid;
    grid-template-columns: 26.5vw 26.5vw 26.5vw;
    grid-gap: 30px;
    text-align: center;
}

.portfolio-item h3 {
    color: #08fdd8;
    font-size: 1.7em;
    text-transform: uppercase;
}
.portfolio-item p {
    color: #08fdd8;
    font-size: 1.1em;
}

.portfolio1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.480) url('https://doc-00-as-docs.googleusercontent.com/docs/securesc/msa1fpnu36ksrugjrlcdp66dj0fcssvr/3t7670nc07k31k0eg7cn7mejdghvqtq7/1651518150000/12983940016495268066/12983940016495268066/1V3FC2K27N6Fc1cBGVFI0-RhEJnCxy4Ys?ax=ACxEAsZp_ZlimH0BX0hGx2yX7YE27Bj1VSC7oBfWmUhTAPdPsgc6kGrsuk4y4XvrCOlK--wEn330vg9MAS0lxK1l-17OME_yXhipzYRkaEgmYj4a1yLZx8SxgbM_bIl0VkrbPtKzMLQBKkXtqeIdBB6AXa0LqublcBlm5igpYVp0zd2Pp3yiRMSbQLJQzZ7BdvGrHEDuaPiy0uSovzUKPI6oug4aZ0s4hXHzXV8UwhuWlMJpgmxia5WLc7YNYdsPc_DWyDwsvTAQ-EoFrvXywAcyR0K5aQUfDYFo_jzvdx5uLgBspGHRU4yoUWX1AbX2n70ajWN-zAlBACntyTQ5fXsmtJQ7fdu_wFjFbljiTGs0h-DlGo0oZnp6AxCr9pt3g9olD7rgfqVEJOo4Y0AyHCiXW0Jhmah6a3nwedT5oxkKGdBf_8dzPiMJBrbImvofPcEdws2zd7fg5xE1KAGJl6qWq7g7K5HmtTAPQjfz4rucXR6L_sSlMFgX2W0ra3UlxDvBPzRJN5Bvkle5xIhtG7TKkxezs-9uefXC2SFSuKTx3lszZ_kjqhWkAo4H8tkwDHHceEoHiIr-g7XKTjt654YbLmcHG-uVt7uXDrtWbAWCZrBgdMwaYGJqzqV6wyN6iB2PgUUdNWX1TytM92iGBFq_TtxIP143EFrFYwdkmv3RlZLUEZ5_Vr70rD3xRit1qRKl5lqjcxM3L4zHN8D9NiNCQfAq5p8AXXl6VNhjJE7F-JHZMXzr&authuser=0');
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ff2b48;
    transition: all 0; 
    height: 300px;
}

.portfolio2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.480) url('https://doc-0g-as-docs.googleusercontent.com/docs/securesc/msa1fpnu36ksrugjrlcdp66dj0fcssvr/8pgq6t4c7htmkvl59s7ebi6t17lcanmu/1651518000000/12983940016495268066/12983940016495268066/1k4CMV9kUU8L-sqTItOMmT_YAwIHJxSS6?ax=ACxEAsa0hJHMWby-7H3KeG55sWScjf2XgQC18nr1aiPBzrBJww1xtb0RmRCK-HRAjzYRu7UY9h_ygDWm4hHU9Suc1VOqdIcVMHYYK-r4H4PGzzvgm_EuguRVRzRKRduuQgwg2DkGJHp-2c8x2p1jP2vk8tfEzl15PSgZMuUUvYz98FHBFUmJuLB64L1Be5RN8DCzXCg704Wfz5NKf0kH3kspt4lBmZqkxq4rVfZQeofo15AYCK0qXjefbcE-3oONdmc9y6zPoCGtuiHRpGuaJdNdl0HROltu690h-Gs3j6--HdtPPm4gQ99nbgQJ3Cjne9tDIf2WGw9GPzVJceItiO481Y3RkZAIrYdCMB-Ja7Msx5iKTBzHZvxiAkblgdbIlK9wwBwDIrtxL_V6OUpcgYKxq5bnrbm0IaW0TYSXI-WMsOzWsoMVKLhJCr4nejbcQe1HiYjEKpFtixoX-qCdFFDnxFFC5byaEgZqdXpHoLjTjGRTsLkHxXyQD-9VOCMGjr-_TzkKtjZnfJIRKSHS37xwcLO6BnDqHACQyknxsH6SYspaByOct0iwFf3lpvdaLCu4-Osva8N4DO3kDz2mWCObZmfv9Vwm_bjJs6e0Jv8F6o7n2ZsatBoeCPGET9moVenHyMxeOkQ9beJpkYgFV59d2qKSyuF-y07no6JDC0b4QghMg0Wf6sh1lQWN-IQEvUbnZHPmlVpCSGDUgWO6nliNWBrDiUuEY-zP7e-vYb0XEVu480JI&authuser=0&nonce=2jpkgluiia66s&user=12983940016495268066&hash=sqdfm4n133d0f2lohfhoh5t2p9tnm86e');
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ff2b48;
    transition: all 0; 
    height: 300px;
}

.portfolio3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.480) url('https://doc-0k-as-docs.googleusercontent.com/docs/securesc/msa1fpnu36ksrugjrlcdp66dj0fcssvr/pt69r42smg0gd2733emjrb95ucp6d48p/1651518150000/12983940016495268066/12983940016495268066/1aM7Ru2DMxqGFQgvZd8_3q1Wo8eL9CIgq?ax=ACxEAsaArgdaYfHlg2UKMbRW1gvTAWVShUCcRG4OyY_xMbp2RwQVJYS25DOqCQTYQkqUENN41tuqAeeNMwGXco1TzPnQz_tRB1OgdnAbNb1ngM3AntT9IksIi6aDlY_HU2n3mwQZVjYdZBogi2tQ8R5ziyXfB8XoSF-b6olWDMNmY5VbT5HGzsBTD2HjYgX0PmzR8Hsf5_K3492CZ5q5yiv0wcOFdrbE7Q43rVflB1l2PPVD3BDIzmrnBmD3FURssDTxVoO9EDjQFh_PD3uwxVG9cC84S7O7e1KuRReHqlwqsdgSkME8Yq4t4ojVoKpzPckKJWf0sjAcMT3gRtHDSZ8FV-aeklbzH0lBRlfugVugRznk-ITsWgexGnuy21cWU3a9K2SrTmKgOwEdWL330cMZNu-wGd2rNZs5HDnZ39sdGCP3v2i-lWF3TIBUM8WpVHSggenLJwa7ewsiDCqwE2OpzqSu0_GDI9MmAeqmZBon80HqMKHcSQbFaU9AXW-jHwAcFH9DOReqM3eCWaY0GQOZuKtoEl3fkghQPcyT-71v87t8m_CMMYQ69Wl0j9Bf7JUuJnUQm4Yaukp9tmhMGzAkWNDuKelTeXM4j6D2soVVy9pl8MIbJW7PKLiWBqLuX9-Rlr0f2rurUv-IAV4C7BVM4nuOMwmOhduuaWEZhiltNdeddsA9uZzlG8FL3GHBUNY9x0FjaDQx2eiHWDAk35lBjuHsStOE4jHmh--ww952Jr3Lh3rp&authuser=0');
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ff2b48;
    transition: all 0; 
    height: 300px;
}

/* Contact Section */
.contact-form {
    width: 100%;
    padding-top: 5rem;
    display: block;
    position: relative;
}

.contact-form form {
    position: relative;
}

.contact-form form:before {
    content: '<form>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    bottom: 100%;
    left: -1rem;
}

.contact-form form:after {
    display: block !important;
    content: '</form>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: -1rem;
}

.contact-form ul {
    padding: 0;
    margin: 0;
}

.contact-form ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    opacity: 1;
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
}

.contact-form ul li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}

.contact-form ul li.submit {
    overflow: hidden;
}

.contact-form ul li.half:first-child {
    margin-left: 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.contact-form textarea {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 150px;
}

.contact-form .flat-button {
    float: right;
}

.contact-form .flat-button.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
textarea:focus {
    outline: 0;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.input__label--hoshi-color-2::after {
    border-color: #0fa;
}

.input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 2px solid #08FDD8;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.input__field--hoshi:focus+.input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.required .input__field--hoshi+.input__label--hoshi::after,
.required .input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-color: red;
}

.input__field--hoshi:focus+.input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}



.contact-form--linear {
    padding-top: 3rem;
}

.contact-form--linear ul li {
    opacity: 1;
}

.contact-form--linear form {
    padding-bottom: 5px;
    padding-top: 5px;
}

.contact-form--linear input[type="text"],
.contact-form--linear input[type="email"],
.contact-form--linear textarea {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 45px;
}

.contact-form--linear .flat-button {
    margin-top: 0;
    max-width: 100%;
}

/* Contact End */
/* main styling end */